<h1 class="text-center my-4">📋 Task List</h1>

<div class="container">
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <%= link_to task.title, task_path(task), class: "fw-bold text-decoration-none text-primary" %>
          |
          <%= link_to "✏️ Edit", edit_task_path(task), class: "btn btn-sm btn-outline-warning ms-2" %>
        </div>

<%= form_with url: task_path(task), method: :delete, data: { turbo: false, confirm: "Are you sure you want to delete this task?" }, class: "delete-form" do %>
        <button type="submit" class="delete-btn">🗑️</button>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="text-center mt-4">
    <%= link_to "➕ New Task", new_task_path, class: "btn btn-success" %>
  </div>
